.social-share
    &.share-component
      text-align: center;

.donate 
    &:first-child:not(:last-child) 
      .qrcode 
        left: -3.75rem;
    &:last-child:not(:first-child) 
      .qrcode
        right: -4.25rem;

.level-item 
    .icon-img
       width: 16px;
       height: 16px;