.social-share
    &.share-component
      text-align: center;

.donate 
    &:first-child:not(:last-child) 
      .qrcode 
        left: -3.75rem;
    &:last-child:not(:first-child) 
      .qrcode
        right: -4.25rem;

.level-item 
    .icon-img
       width: 16px;
       height: 16px;

.beian-link 
  display: inline-block;
  margin: 2px 0;
  margin-right: 10px;

  .beian-icon 
    display: inline-block;
    margin-right:4px;
    width: 18px;
    height: 18px;
    vertical-align: middle;
  
  a 
   display: inline-block;
   font-size: 0.85rem !important;
   
  